[Unit]
Description= Idle management daemon for Wayland
Documentation=https://github.com/swaywm/swayidle
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w

[Install]
WantedBy=graphical-session.target
