VPN_PASSPHRASE={{ pass "nsn/vpn-passphrase" }}
NSN_EMAIL={{ pass "nsn/email" }}
NSN_PASS={{ pass "nsn/nsn-intra" }}
NSN_DOMAINS={{ pass "nsn/dns-domains" }}
VPN_GW={{ pass "nsn/vpn-gw" }}
CERT=/etc/netctl/nosi_files/vaczi.ipa.nsn-net.net.crt
KEY=/etc/netctl/nosi_files/vaczi.ipa.nsn-net.net.privkey.pem
