[Unit]
Description=clipit clipboard manager

[Service]
ExecStart=/usr/bin/clipit
Environment=XAUTHORITY=/home/ptr/.Xauthority
Environment=DISPLAY=:0.0
Restart=always

[Install]
WantedBy=default.target
