[Unit]
Description=dunst notification manager

[Service]
ExecStart=/usr/bin/dunst
Environment=XAUTHORITY=/home/ptr/.Xauthority
Environment=DISPLAY=:0.0
Restart=always

[Install]
WantedBy=default.target
